@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
}

.header,
.menu,
.contact {
  background-color: rgb(40, 40, 40);
  width: 50%;
  text-align: center;
  color: white;
  padding: 4px;
}

.header {
  font-size: 64px;
  margin: 10px auto;
}

.menu,
.contact {
  font-size: 40px;
  margin: 50px auto;
}

.banner {
  width: 100vw;
}

.banner img {
  width: 100vw;
  height: 90vh;
}

a {
  text-decoration: none;
}

#list {
  width: 85%;
  margin: auto;
  list-style: none;
  padding: 0 10px;
}

li {
  height: 70px;
  font-size: 40px;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
}

li .name {
  margin-right: 100px;
}

li .name,
.price {
  color: black;
}

li:nth-child(even) {
  background-color: rgb(255, 105, 71);
}

li:nth-child(even) .name,
li:nth-child(even) .price {
  color: white;
}

.contact-container {
  width: 85%;
  margin: auto;
  text-align: center;
}

.contact-container > div {
  font-size: 30px;
  margin-bottom: 10px;
}
